<TEI xmlns="http://www.tei-c.org/ns/1.0" xml:id="{{ doc_metadata.bv_id }}.xml">
    <teiHeader>
        <fileDesc>
            <titleStmt>
                <title type="main">{{ doc_metadata.doc_title }}</title>
                <title type="sub">{{ project_md.project_title }}</title>
                <principal>
                    <persName role="acdh:hasPrincipialInvestigator">{{ project_md.project_pi_name[0].value}}</persName>
                </principal>
                <funder>
                    <name>FWF - Der Wissenschaftsfonds</name>
                    <address>
                        <street>Sensengasse 1</street>
                        <postCode>1090 Wien</postCode>
                        <placeName>
                            <country>A</country>
                            <settlement>Wien</settlement>
                        </placeName>
                    </address>
                </funder>
{% for person in doc_metadata.has_digitizing_agent %}
                <respStmt>
                    <resp>Digitalisierung (Fotografieren) des Archivmaterials</resp>
                    <persName role="acdh:hasDigitisingAgent">{{ person.value }}</persName>
                </respStmt>
{% endfor %}
                <respStmt>
                    <resp>XML/TEI Datenmodellierung und Datengenerierung</resp>
                    <persName role="acdh:hasContributor" key="https://orcid.org/0000-0002-9575-9372">Peter Andorfer</persName>
                </respStmt>
                <respStmt>
                    <resp>XML/TEI Datenmodellierung und Datengenerierung</resp>
                    <persName role="acdh:hasContributor" key="https://orcid.org/0009-0006-7740-542X">Carl Friedrich Haak</persName>
                </respStmt>
            </titleStmt>
            <publicationStmt>
                <publisher>
                    <orgName key="https://d-nb.info/gnd/1226158307">Austrian Centre for Digital Humanities and Cultural Heritage an der Österreichischen Akademie der Wissenschaften</orgName>
                </publisher>
                <publisher>
                    <orgName key="https://d-nb.info/gnd/1026192285">Universität Wien. Institut für Rechts- und Verfassungsgeschichte</orgName>
                </publisher>
                <pubPlace ref="http://d-nb.info/gnd/4066009-6">Vienna</pubPlace>
                <date when="2023">2023</date>
                <availability>
                    <licence target="https://creativecommons.org/licenses/by/4.0/">
                        <p>The Creative Commons Attribution 4.0 International (CC BY 4.0) License
                                    applies to this text.</p>
                        <p>The CC BY 4.0 License also applies to this TEI XML file.</p>
                    </licence>
                </availability>
                <idno type="transkribus_doc">{{ doc_metadata.transkribus_doc_id }}</idno>
                <idno type="transkribus_collection">{{ doc_metadata.transkribus_col_id }}</idno>
            </publicationStmt>
            <sourceDesc>
                <msDesc type="invetory">
                    <msIdentifier>
                        <institution key="https://d-nb.info/gnd/37748-X">Österreichisches Staatsarchiv</institution>
                        <repository key="https://d-nb.info/gnd/1601181-8">Archiv der Republik (Wien)</repository>
                        <idno type="archive">{{ doc_metadata.shelfmark or "" }}</idno>
                    </msIdentifier>
                    <msContents>
                        <msItem>
                        {% for author in doc_metadata.has_author %}
                            <author role="acdh:hasAuthor">{{ author.value }}</author>
                        {% endfor %}
                        <title>{{ doc_metadata.doc_title }}</title>
                        </msItem>
                    </msContents>
                    <physDesc>
                        <objectDesc form="{{ doc_metadata.type_of_manifestation.value }}">
                            <ab>{{ doc_metadata.has_description or "" }}</ab>
                        </objectDesc>
                        <handDesc>
                        <ab></ab>
                        </handDesc>
                    </physDesc>
                    <history>
                        <origin from="{{ doc_metadata.not_before }}" to="{{ doc_metadata.not_after }}">{{ doc_metadata.written_date }}</origin>
                    </history>
                </msDesc>
            </sourceDesc>
        </fileDesc>
        <profileDesc>
         <abstract>
            <ab/>
         </abstract>
         <creation><date from="{{ doc_metadata.not_before }}" to="{{ doc_metadata.not_after }}">{{ doc_metadata.written_date }}</date></creation>
      </profileDesc>
    </teiHeader>
    {{faksimile|safe}}
    <text type="{{ doc_metadata.type_of_document.value }}">
        {{ body|safe }}
    </text>
</TEI>
